<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Monitor</title>
    <link rel="stylesheet" href="../css/fonts.css" />
    <link rel="stylesheet" href="../css/styles.css" />
    <script src="../assets/lib/include-html.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css"/>
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 p-0">
          <nav id="sidebar" class="sidebar p-0">
            <ul>
              <li class="sidebar-logo d-flex justify-content-center">
                <img src="../assets/img/logo.png" alt="" />
              </li>
              <li>
                <a name="_inicio" href="#"
                  ><span class="icon-home"></span>Inicio</a
                >
              </li>
              <li>
                <a name="_usuarios" href="#"
                  ><span class="icon-user"></span>Usuarios</a
                >
              </li>
              <li>
                <a
                  name="_casos"
                  data-bs-toggle="collapse"
                  href="#childrenC"
                  role="button"
                  aria-expanded="false"
                >
                  <div class="d-flex justify-content-between">
                    <div><span class="icon-files-empty"></span>Casos</div>
                    <i class="bi bi-chevron-down ms-4"></i></div
                ></a>
                <ul id="childrenC" class="collapse.show childrenn">
                  <li><a href="casos.html">General</a></li>
                  <li><a href="casos_pendientes.html" class="seleccionado">Casos por revisar</a></li>
                </ul>
              </li>
              <li>
                <a
                  name="_reportes"
                  data-bs-toggle="collapse"
                  href="#children"
                  role="button"
                  aria-expanded="false"
                >
                  <div class="d-flex justify-content-between">
                    <div><span class="icon-file-pdf"></span>Reportes</div>
                    <i class="bi bi-chevron-down ms-4"></i></div
                ></a>
                <ul id="children" class="collapse childrenn">
                  <li><a href="reportes_uno.html">Cuadro por municipio</a></li>
                  <li>
                    <a href="reportes_dos.html">Cuadro por causa de muerte</a>
                  </li>
                  <li><a href="reportes_tres.html">Gráficas</a></li>
                </ul>
              </li>
              <!--<li><a href="#"><span class="icon-sphere"></span>Adiministrar sito web</a></li>-->
              <li>
                <a name="_salir" href="#"
                  ><span class="icon-exit"></span>Cerrar sesión</a
                >
              </li>
            </ul>
          </nav>
        </div>
        <div class="col">
          <div class="row mt-3">
            <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="./inicio.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Casos</li>
                <li class="breadcrumb-item active" aria-current="page">Casos por revisar</li>
              </ol>
            </nav>
          </div>
          <div class="row me-2">
            <h3 class="mb-3">Casos por revisar</h3>
            <hr />
            <div class="col scroll">
              <table class="table">
                <thead class="table-primary">
                  <th>#</th>
                  <th>Fecha</th>
                  <th>Municipio</th>
                  <th>Calidad</th>
                  <th>Nombre</th>
                  <th>Edad</th>
                  <th>Causa de muerte</th>
                  <th>Acciones</th>
                </thead>
                <tbody id="tabla_casos_pendientes">
                  <tr>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>
                      <div class="btn-group">
                      <img class="icon-editar">
                      <img class="icon-eliminar">
                      <img class="icon-revisado">
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
          <!-- <div class="row me-2"> 
                    <h3 class="mb-3">Casos por revisar</h3><hr>   
                    <section id="caso_paso_1" class="mb-3" >
                        <h4 class="d-flex justify-content-center mb-3">Registrar: paso 1 de 6</h4>
                        <div class="c-header py-2">                            
                            <h5 class="justify-content-center d-flex mt-1">Fuentes de información</h5>
                         </div>
                         <div class="card-body">
                            <form class="row g-3 needs-validation mt-1 mb-3 ms-2" novalidate>
                                <div class="col-md-3">
                                    <select class="form-select" id="_tipoFuente" required>
                                        <option selected disabled>Tipo de fuente</option>
                                        <option value="periodico">Periódico</option>
                                        <option value="revista" >Revista</option>
                                        <option value="redes">Redes sociales</option>
                                        <option value="sitio">Sitio web</option>
                                    </select>
                                </div>
                                <div id="divfuente" class="col-md-4">
                                    <input type="text" class="form-control" name="_nombreFuente" id="_nombreFuente"   placeholder="Nombre de fuente" required>
                                    <div class="invalid-feedback">Inserte un nombre válido</div>
                                </div>
                                <div id="divperiodico" class="col-md-4 no-activo">
                                    <select class="form-select" name="_nombrePeriodico" id="_nombrePeriodico" required>
                                       <option selected disabled value="">Seleccione el periódico</option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" id="_fechaPublicacion" placeholder="Fecha de publicación"
                                    onclick="(this.type='date')"
                                    onfocus="(this.type='date')"
                                    onblur="(this.type='text')">
                                    <div class="invalid-feedback">Inserte una fecha válida</div>
                                </div>
                                <div class="col-md-2">
                                    <button class="btn btn-primary" name="btn_nueva_fuente">Añadir</button> 
                                </div>
                            </form>                          
                            <div class="row g-3 mt-3 ms-2 me-2">
                                <div class="col-md-9">
                                    <table class="table">
                                        <h6 class="mb-1">Fuentes añadidas</h6>
                                        <thead class="table-info">                                           
                                            <th>#</th>
                                            <th>Tipo de fuente</th>
                                            <th>Nombre</th>
                                            <th>Fecha de publicación</th>
                                            <th>Opciones</th>
                                        </thead>
                                        <tbody id="tablaFuentes"></tbody>
                                    </table>
                                </div>
                            </div>                                                      
                            <div class="row g-3 mt-4 ms-2 me-2 d-flex justify-content-end">
                                <button name="btn_cancelar1" class="btn btn-danger col-md-auto me-2">Cancelar</button>
                                <button name="btn_continuar1" class="btn btn-success col-md-auto">Continuar</button>
                            </div>
                        </div>
                    </section>
                    <section id="caso_paso_2" class="mb-3 no-activo">
                        <h4 class="d-flex justify-content-center mb-3">Registrar: paso 2 de 6</h4>
                        <div class="c-header py-2">                            
                            <h5  class="justify-content-center d-flex mt-1">Datos de la víctima</h5>
                        </div>
                        <div class="card-body">
                            <form class="frm_paso2 nee ds-validation mt-1 mb-3 ms-4 me-4" novalidate>
                                <label class="d-flex justify-content-center" ><b>Datos generales</b></label><hr>                           
                                <div class="row g-2 mb-3">
                                    <label class="form-check-label col-form-label">¿La víctima fue identificada?</label>
                                    <div class="form-check col-md-1">
                                        <input class="form-check-input" type="radio" id="paso2_contenido1_si" name="paso2_contenido1" value="si">
                                        <label class="form-check-label">Sí</label>
                                     </div>
                                     <div class="form-check col-md-1 mb-3">
                                        <input class="form-check-input" type="radio" id="paso2_contenido1_si" name="paso2_contenido1" value="no">
                                        <label class="form-check-label">No</label>
                                     </div>
                                     <div class="p-0 no-activo" id="v_si">
                                        <div class="row g-3 mb-3" >
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" name="_nombreFuente" placeholder="Nombre" required>
                                                <div class="invalid-feedback">Inserte un nombre válido</div>
                                            </div>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" name="_nombreFuente" placeholder="Apellido paterno" required>
                                                <div class="invalid-feedback">Inserte un nombre válido</div>
                                            </div>                                
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" name="_nombreFuente" placeholder="Apellido materno" required>
                                                <div class="invalid-feedback">Inserte un nombre válido</div>
                                            </div>
                                            <div class="row g-3">
                                                <label class="col-md-auto col-form-label" for="tentacles">Edad:</label>
                                                    <div class="col-md-2">
                                                <input class="form-control col-md-3" type="number" id="tentacles" name="tentacles" min="1" max="100" value="18">
                                                </div>
                                            </div>
                                        </div>
                                     </div>
                                     <div class="p-0 no-activo" id="v_no">
                                        <div class="row g-3 mb-3" >
                                            <label class="col-md-auto col-form-label">Edad mínima: </label>
                                            <div class="col-md-2">
                                            <input class="form-control col-md-3" type="number" id="tentacles" name="tentacles" min="1" max="100">
                                            </div>
                                            <label class="col-md-auto col-form-label">Edad máxima: </label>
                                            <div class="col-md-2">
                                            <input class="form-control col-md-3" type="number" id="tentaclesii" name="tentacles" min="1" max="100">
                                            </div>
                                        </div>
                                     </div>

                                </div>
                                <label class="d-flex justify-content-center" ><b>Información laboral</b></label><hr>
                                <div class="row g-3 px-0 mb-3" >
                                    <label class="form-check-label col-form-label">¿Se conocen la información laboral?</label>
                                    <div class="form-check col-md-1">
                                        <input class="form-check-input" type="radio" id="paso2_contenido2_si" name="paso2_contenido2" value="si">
                                        <label class="form-check-label">Sí</label>
                                     </div>
                                     <div class="form-check col-md-1">
                                        <input class="form-check-input" type="radio" id="paso2_contenido2_no" name="paso2_contenido2" value="no">
                                        <label class="form-check-label">No</label>
                                     </div>
                                     <div class="no-activo" id="info_laboral">
                                        <div class="row g-3 px-0 mb-3 no-activo">                                        
                                            <div class="col-md-5">
                                                <select class="form-select" id="_ocupacion_victima" required>
                                                    <option selected disabled value="">Ocupación</option>
                                                    <option value="ama_de_casa">Ama de casa</option>
                                                    <option value="comerciante">Comerciante</option>
                                                    <option value="empleada_empresa_privada">Empleada de empresa privada</option>
                                                    <option value="estudiante">Estudiante</option>
                                                    <option value="empleada_domestica">Empleada doméstica</option>
                                                    <option value="empleada_de_gobierno">Empleada de godierno</option>
                                                </select>
                                            </div>
                                            <div class="col">                                              
                                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Lugar de trabajo"></textarea>    
                                            </div>                                       
                                        </div>  
                                     </div>                           
                                </div>
                                <label class="d-flex justify-content-center mt-3" ><b>Datos de orígen</b></label><hr>
                                <div class="row g-2 px-0 mb-3">
                                    <label class="form-check-label col-form-label">¿Se conocen los datos de origen?</label>
                                    <div class="form-check col-md-1">
                                        <input class="form-check-input" type="radio" id="paso2_contenido3_si" name="paso2_contenido3" value="si">
                                        <label class="form-check-label" >Sí</label>
                                     </div>
                                     <div class="form-check col-md-1">
                                        <input class="form-check-input" type="radio" id="paso2_contenido3_no" name="paso2_contenido3" value="no">
                                        <label class="form-check-label">No</label>
                                     </div>
                                     <div class="no-activo" id="info_origen">
                                        <div class="row g-3 px-0">                                        
                                            <div class="col-md-4">
                                                <select class="form-select" name="_select_municipios" required>
                                                    <option selected disabled value="">Municipio</option>
                                                </select>
                                            </div>
                                            <div class="col-md-4">
                                                <select class="form-select" name="_select_localidades" required>
                                                    <option selected disabled value="">Localidad</option>
                                                </select>
                                            </div>                                                                             
                                        </div>  
                                     </div>                         
                                </div>
                            </form>
                            <div class="row g-2 mt-4 ms-2 me-2 mb-3 d-flex justify-content-end">
                                <button name="btn_regresar2" class="btn btn-danger col-md-2 me-2">Atrás</button>
                                <button name="btn_continuar2" class="btn btn-success col-md-2">Continuar</button>
                            </div>                            
                        </div>
                    </section>
                    <section id="caso_paso_3" class="mb-3 no-activo">
                        <h4 class="d-flex justify-content-center mb-3">Registrar: paso 3 de 6</h4>
                        <div class="c-header py-2">                            
                            <h5  class="justify-content-center d-flex mt-1">Datos del agresor</h5>
                        </div>
                        <div class="card-body">
                            <form class="needs-validation mt-1 mb-3 ms-3 me-3" novalidate>
                                <div class="row g-2 mb-3">
                                    <label class="form-check-label col-form-label">¿El agresor fue identificado?</label>
                                    <div class="form-check col-md-1">
                                        <input class="form-check-input" type="radio" name="paso3_contenido1" value="si" id="">
                                        <label class="form-check-label">Sí</label>
                                     </div>
                                     <div class="form-check col-md-1">
                                        <input class="form-check-input" type="radio" name="paso3_contenido1" value="no">
                                        <label class="form-check-label">No</label>
                                     </div>
                                </div>
                                <div class="no-activo" id="info_agresor">
                                    <div class="row g-2 mb-3">
                                        <h5 class="mb-3">Consultar en la base de Datos</h5>
                                        <div class="row  justify-content-between p-0">
                                            <div class="col">
                                                <div class="row">
                                                    <div class="col">
                                                        <input type="text" class="form-control" name="_nombreFuente" placeholder="Nombre de fuente" required>
                                                        <div class="invalid-feedback">Inserte un nombre válido</div>
                                                    </div>
                                                    <div class="col">
                                                        <button type="button" class="btn btn-primary" name="btn_buscar_agresor">Buscar</button> 
                                                    </div>
                                                </div>
                                           </div>    
                                            <div class="col-md-auto mb-3 p-0">
                                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" name="btn_nuevo_agresor">
                                                    Nuevo agresor
                                                  </button>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <table class="table">
                                                <thead class="table-info">                                           
                                                    <th>#</th>
                                                    <th>Nombre</th>
                                                    <th>Apellido paterno</th>
                                                    <th>Apellido materno</th>
                                                    <th>Sobrenombre</th> 
                                                    <th>Seleccionar</th>
                                                </thead>
                                                <tbody id="tablaFuentes"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                               
                            </form>   
                            <div class="row g-3 mt-4 ms-2 me-2 mb-3 d-flex justify-content-end">
                                <button name="btn_regresar3"  class="btn btn-danger col-md-2 me-2">Atrás</button>
                                <button name="btn_continuar3" class="btn btn-success col-md-2">Continuar</button>
                            </div>                                                                     
                        </div>
                    </section>
                    <section id="caso_paso_4" class="mb-3 no-activo">
                        <h4 class="d-flex justify-content-center mb-3">Registrar: paso 4 de 6</h4>
                        <div class="c-header py-2">                            
                            <h5  class="justify-content-center d-flex mt-1">Lugar de hallazgo</h5>
                        </div>
                        <div class="card-body">
                            <form class="needs-validation mt-1 mb-3 ms-4 me-4" novalidate>
                                <h6 class="d-flex justify-content-center" ><b>Datos generales</b></h6><hr>                           
                                <div class="row mb-3">
                                    <label class="form-label">Fecha de hallazgo:</label>
                                    <div class=" col-md-auto">
                                        <input class="form-control" type="date" id="" name="" >
                                    </div>                                                            
                                </div>
                                
                                <div class="row mb-3">
                                    <label class="form-label" >Lugar de hallazgo:</label> 
                                    <div class="col-md-4">                                    
                                        <select class="form-select" name="_select_municipios" required>
                                            <option selected disabled value="">Municipio</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">                                    
                                        <select class="form-select"name="_select_localidades" required>
                                            <option selected disabled value="">Localidad</option>
                                        </select>
                                    </div>
                                </div>    
                                <div class="col-md-5 mb-3">                                    
                                    <select class="form-select" id="_lugar_encuentro" required>
                                        <option selected disabled>Lugar de los hechos</option>
                                        <option value="basurero">Basurero</option>
                                        <option value="barranco">Barranco</option>
                                        <option value="camino_terracería">Camino de terracería</option>
                                        <option value="carretera">Carretera</option>
                                        <option value="domicilio_agresor">Domicilio del agresor</option>
                                        <option value="domicilio_victima">Domicilio de la víctimaDomicilio de la víctima</option>
                                        <option value="fosa_clandestina">Fosa clandestinaFosa clandestina</option>
                                        <option value="hotel">Hotel</option>
                                        <option value="otro_domicilio">Otro domicilio</option>
                                        <option value="via_publica">Vía pública</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <textarea class="form-control" id="_referencias_lugar" rows="3" placeholder="Referencias del lugar en el que se encontró la víctima"></textarea>
                                </div>                               
                            </form>
                            <div class="row g-3 mt-4 ms-2 me-2 mb-3 d-flex justify-content-end">
                                <button name="btn_regresar4"  class="btn btn-danger col-md-2 me-2">Atrás</button>
                                <button name="btn_continuar4" class="btn btn-success col-md-2">Continuar</button>
                            </div>
                        </div>
                    </section>
                    <section id="caso_paso_5" class="mb-3 no-activo">
                        <h4 class="d-flex justify-content-center mb-3">Registrar: paso 5 de 6</h4>
                        <div class="c-header py-2"><h5 class="justify-content-center d-flex mt-1">Causas de muerte</h5></div>
                        <div class="card-body">
                            <form class="needs-validation mt-1 mb-3 ms-4 me-4" novalidate>                          
                                <div class="row g-2 mb-3">
                                    <div class="row g-3">
                                        <label class="form-check-label col-form-label">¿Cuál(es) fue(ron) la(s) causa(s) de muerte?</label>
                                        <div class="row g-3 ms-3 mt-0">
                                            <div class="form-check col-md-4">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                <label class="form-check-label">Impacto de bala</label>
                                            </div>
                                            <div class="form-check col-md-4">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                                <label class="form-check-label">Traumatismo</label>
                                            </div>
                                            <div class="form-check col-md-4">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                <label class="form-check-label">Extragulamiento</label>
                                            </div>
                                            <div class="form-check col-md-4">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                                <label class="form-check-label">Suicidio</label>
                                            </div>
                                            <div class="form-check col-md-4">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                                <label class="form-check-label">Accidente sospechoso</label>
                                            </div>
                                            <div class="form-check col-md-4">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                                <label class="form-check-label">Asfixia</label>
                                            </div>
                                            
                                        </div>
                                        <label class="form-check-label col-form-label" >Instrumento empleado para la comisión del delito</label>                                                                   
                                        <div class="col-md-4">
                                            <select class="form-select" id="_instrumento_empleado" required>
                                                <option selected disabled value="">Tipo de instrumento</option>
                                                <option value="arma_blanca">Arma blanca</option>
                                                <option value="arma_fuego">Arma de fuego</option>
                                                <option value="piedras">Piedras (lapidada)</option>
                                                <option value="torniquete">Torniquete</option>
                                                <option value="otro">Otro</option>
                                            </select>
                                        </div>
                                        <div class="col">
                                            <input type="text" class="form-control" name="_nombreFuente" placeholder="¿Cuál? Especifique" required>
                                            <div class="invalid-feedback">¿Cúal? Especifique</div>
                                        </div>   
                                    </div>                                   
                                </div>                               
                            </form>
                            <div class="row g-3 mt-4 ms-2 me-2 mb-3 d-flex justify-content-end">
                                <button name="btn_regresar5"  class="btn btn-danger col-md-2 me-2">Atrás</button>
                                <button name="btn_continuar5" class="btn btn-success col-md-2">Continuar</button>
                            </div>
                        </div>
                    </section>
                    <section id="caso_paso_6" class="mb-3 no-activo">
                        <h4 class="d-flex justify-content-center mb-3">Registrar: paso 6 de 6</h4>
                        <div class="c-header py-2"><h5  class="justify-content-center d-flex mt-1">Características de la violencia feminicida</h5></div>
                        <div class="card-body">
                            <form class="needs-validation mt-1 mb-3 ms-4 me-4" novalidate>                          
                                <div class="row g-2 mb-5">                              
                                    <div class="row g-3 ">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="Impacto" id="caracteristica_I">
                                        <label class="form-check-label">
                                            La víctima presenta señales de violencia sexual de cualquier tipo.
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="II" id="caracteristica_II">
                                        <label class="form-check-label">
                                            A la víctima se le infligieron lesiones o mutilaciones, infamantes, denigrantes o degradantes, previas o posteriores a la privación de la vida o actos de necrofilia.
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="III" id="caracteristica_III">
                                        <label class="form-check-label">
                                            Existen antecedentes o datos de cualquier tipo de violencia, cometido en el ámbito familiar, laboral o escolar, cometido por el sujeto activo en contra de la víctima.
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="IV" id="caracteristica_IV">
                                        <label class="form-check-label">
                                            Existió entre el sujeto activo y la víctima una relación de familia, sentimental, afectiva o de confianza.
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="V" id="caracteristica_V">
                                        <label class="form-check-label">
                                            Existen datos o referencias que establecen que hubo amenazas relacionadas con el hecho delictuoso , acoso o lesiones del  sujeto activo en contra de la víctima.
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="VI" id="caracteristica_VI">
                                        <label class="form-check-label">
                                            El cuerpo de la víctima fue expuesto, arrojado o exhibido en un lugar público.
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="VII" id="caracteristica_VII">
                                        <label class="form-check-label">
                                            La víctima fue incomunicada , cualquiera que sea el tiempo previo a la privación de la vida.
                                        </label>
                                    </div>
    
                                    <label class="form-check-label col-form-label">La violencia se ejerció en el ámbito:</label>                                                                   
                                    <div class="form-check col">
                                        <input class="form-check-input" type="checkbox" value="familia" id="flexCheckDefault">
                                        <label class="form-check-label">Familiar</label>
                                    </div>
                                    <div class="form-check col">
                                        <input class="form-check-input" type="checkbox" value="laboral" id="flexCheckDefault">
                                        <label class="form-check-label">Laboral</label>
                                    </div>
                                    <div class="form-check col">
                                        <input class="form-check-input" type="checkbox" value="escolar" id="flexCheckDefault">
                                        <label class="form-check-label">Escolar</label>
                                    </div>
                                    <div class="form-check col">
                                        <input class="form-check-input" type="checkbox" value="politico" id="flexCheckDefault">
                                        <label class="form-check-label">Político</label>
                                    </div>
                                    <div class="form-check col">
                                        <input class="form-check-input" type="checkbox" value="comunitario" id="flexCheckDefault">
                                        <label class="form-check-label">Comunitario</label>
                                    </div>
                                </div>
                                </div>
                                <div class="row g-2 mb-3">
                                    <label class="d-flex justify-content-center form-label"><b>Diligencias practicadas por las autoridades</b></label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                </div>
                                <div class="row g-2 mb-3">
                                    <label class="d-flex justify-content-center form-label"><b>Observaciones</b></label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                </div>
                                
                            </form>
                            <div class="row g-3 mt-4 ms-2 me-2 mb-3 d-flex justify-content-end">
                                <button name="btn_regresar6"  class="btn btn-danger  col-md-2 me-2">Atrás</button>
                                <button name="btn_continuar6" class="btn btn-success col-md-2">Aceptar</button>
                            </div>
                        </div>
                    </section>
    
                    <div class="modal fade" id="mdl_registrar_agresor" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="_titulo_registrar_agresor">Registrar agresor</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <input type="text" class="form-control mb-3" name="_nombre" placeholder="Nombre" required>
                                <input type="text" class="form-control mb-3" name="_apellidoP" placeholder="Apellido paterno" required>
                                <input type="text" class="form-control mb-3" name="_apellidoM" placeholder="Apellido materno" required>
                                <input type="text" class="form-control mb-3" name="_sobrenombre" placeholder="Sobrenombre (opcional)" required>
                                <div class="mb-3">                                 
                                    <select class="form-select mb-3 "name="_select_municipios"required>
                                        <option selected disabled value="">Municipio</option>
                                    </select>
                                                                
                                    <select class="form-select mb-3" name="_select_localidades" required>
                                        <option selected disabled value="">Localidad</option>
                                    </select>
                                    <textarea class="form-control" id="_domicilio" rows="3" placeholder="Domicilio(opcional)"></textarea>
                                </div>                                                   
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                              <button name="btn_registrar_agresor"type="button" class="btn btn-primary">Aceptar</button>
                            </div>
                          </div>
                        </div>
                    </div>                    
                </div> -->
        </div>
        <div class="col-1 p-0"></div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="../js/sidebar.js "></script>
  </body>
</html>
