<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monitor</title>
    <link rel="stylesheet" href="../../css/fonts.css">
    <link rel="stylesheet" href="../css/styles.css">
    <script src="../assets/lib/include-html.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 p-0">         
                <nav id="sidebar" class="sidebar p-0"> 
                    <ul>
                        <li class="sidebar-logo d-flex justify-content-center"><img src="../assets/img/logo.png" alt=""></li>
                        <li><a name="_inicio" href="#"><span class="icon-home"></span>Inicio</a></li>
                        <li><a name="_usuarios" href="#"  class="seleccionado"><span class="icon-user"></span>Usuarios</a></li>
                        <li><a name="_casos" data-bs-toggle="collapse" href="#childrenC" role="button" aria-expanded="false">
                            <div class="d-flex justify-content-between">
                                <div><span class="icon-files-empty"></span>Casos</div>
                                <i class="bi bi-chevron-down  ms-4"></i>
                            </div></a>
                            <ul id="childrenC" class="collapse childrenn">
                                <li><a href="casos.html">General</a></li>
                                <li><a href="casos_temp_admin.html">Casos por revisar</a></li>
                            </ul>
                        </li>
                        <li><a name="_reportes" data-bs-toggle="collapse" href="#children" role="button" aria-expanded="false">
                            <div class="d-flex justify-content-between">
                                <div><span class="icon-file-pdf"></span>Reportes</div>
                                <i class="bi bi-chevron-down  ms-4"></i>
                            </div></a>
                            <ul id="children" class="collapse childrenn">
                                <li><a href="reportes_uno.html">Cuadro por municipio</a></li>
                                <li><a href="reportes_dos.html">Cuadro por causa de muerte</a></li>
                                <li><a href="reportes_tres.html">Gráficas</a></li>
                            </ul>
                        </li>
                        <!--<li><a href="#"><span class="icon-sphere"></span>Adiministrar sito web</a></li>-->
                        <li><a name="_salir" href="#"><span class="icon-exit"></span>Cerrar sesión</a></li> 
                    </ul>
                </nav>
            </div>
            <div class="col">  
                <div class="row mt-3">
                    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a href="./inicio.html">Home</a></li>
                          <li class="breadcrumb-item active" aria-current="page">Usuarios</li>
                        </ol>
                      </nav>
                </div>
                <div class="row modulo_usuarios me-5" >
                    <h3 class="mb-3">Usuarios</h3><hr>                       
                    <section class="registro_caso_3 mb-3">
                        <div class="card-body px-4 ms-2">
                            <form class="needs-validation mt-3 mb-2" novalidate>
                                <div class="row g-2 mb-2">
                                    <div class="row  justify-content-between p-0">
                                        <div class="col">
                                            <div class="row">
                                                <div class="col">
                                                    <input type="text" class="form-control" id="_nombreUsuario" name="_nombreUsuario" placeholder="Nombre de usuario" required>
                                                    <div class="invalid-feedback">Inserte un nombre válido</div>
                                                </div> 
                                                <div class="col">
                                                    <button name="btnBuscarUsuario" type="submit" class="btn btn-info"><i class="bi bi-search me-2"></i>Buscar</button> 
                                                </div>
                                            </div>
                                       </div>    
                                        <div class="col-md-auto mb-3 p-0">
                                            <button name="btnCrearUsuario" type="button" class="btn btn-primary"><i class="bi bi-plus-lg me-2"></i>Nuevo usuario</button>
                                        </div>
                                    </div>
                                </div>
                            </form>    
                            <div class="alert alert-success no-activo" role="alert" id="alertU_si"></div>
                            <div class="alert alert-danger no-activo" role="alert" id="alertU_no">No se encontraron coincidencias con su búsqueda</div>
                            <div class="mt-3 mb-3 scroll">
                                <table class="table">
                                    <thead class="table-primary">                                           
                                        <th>#</th>
                                        <th>Nombre</th>
                                        <th>Apellido paterno</th>
                                        <th>Apellido materno</th>
                                        <th>Email</th> 
                                        <th>Rol</th>
                                        <th>Opciones</th>
                                    </thead>
                                    <tbody id="tablaUsuarios"></tbody>
                                </table>
                            </div>                                                                    
                        </div>
                    </section>

                    <div class="modal fade" id="mdlRegistrarU" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="staticBackdropLabel">Registrar usuario</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <input type="text" class="form-control mb-3" name="_nombreU" placeholder="Nombre" required>
                                <input type="text" class="form-control mb-3" name="_apellidoPU" placeholder="Apellido paterno" required>
                                <input type="text" class="form-control mb-3" name="_apellidoMU" placeholder="Apellido materno" required>
                                <input type="email" class="form-control mb-3" name="_emailU" placeholder="Email" required>
                                <input type="password" class="form-control mb-3" name="_passwordU" placeholder="Contraseña" required>
                                <!--<input type="password" class="form-control mb-3" name="_passwordUC" placeholder="Repetir contraseña" required>
                                --> <div class="mb-3">                                 
                                    <select class="form-select mb-3" id="rolUmdl" required>
                                        <option selected disabled value="">Rol de usuario</option>
                                        <option value="supervisor">Supervisor/a</option>
                                        <option value="capturista">Capturista</option>
                                    </select>
                                </div>                                                   
                            </div>
                            <div class="modal-footer">
                              <button name="btnMdlCancelar" type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-x-lg me-2"></i>Cancelar</button>
                              <button name="btnMdlAceptar" type="button" class="btn btn-primary">Aceptar<i class="bi bi-check-lg ms-2"></i></button>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>     
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>  
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>     
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="../js/controlador_usuarios.js" type="module"></script>
    <script src="../js/sidebar.js "></script>         
</body>
</html>